@{
    ViewData["Title"] = "DashBoard";
}

<span class="page-header"></span>
<h2 class="page-header">@ViewData["Title"].</h2>


<div class="row">
   
    <span class="divider"></span>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.nbref</div>
                        <div>Formulaires </div>
                    </div>
                </div>
            </div>
            <a href="#">

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.nbreQ</div>
                        <div>proposed questions!</div>
                    </div>
                </div>
            </div>
            <a href="#">

            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check-square fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>response this day !</div>
                    </div>
                </div>
            </div>
            <a href="#">

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>response this week!</div>
                    </div>
                </div>
            </div>
            <a href="#">

            </a>
        </div>
    </div>
    </div>
    <div class="row">
    @* foreach avec le nombre de formualire *@
    <br />
    <br />
    <br />
    <div class="col-lg-8 col-lg-offset-2">
       
        @foreach (var item in Model.Formlaires)
        {
            TimeSpan j = DateTime.UtcNow - @item.date_creation;
            TimeSpan k = @item.date_fin - @item.date_creation;
            int pourcentage = (j.Days/k.Days)*100 ;
            if (pourcentage > 100 )
            {
                pourcentage = 100;

            }
            <a href="#">
                <div>
                   
                    <h1></h1>
                    <p>
                        <strong>@item.sujet </strong>
                        <strong>@item.date_creation </strong>
                        <span class="pull-right text-muted">@pourcentage </span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:@pourcentage%">
                            <span class="sr-only">100(success)</span>
                        </div>
                    </div>
                </div>
            </a>
        }


    </div>
    </div>
